.cache
.github
.mixin.out
.probe
.vscode
cache
crash-reports
data
!kubejs/data
downloads
dynamic-data-pack-cache
dynamic-resource-pack-cache
emoticons
exposures
local
logs
mods
moonlight-global-datapacks
resourcepacks
saves
screenshots
shaderpacks
TrashSlotSaveState.json
usercache.json
usernamecache.json
command_history.txt
options.txt
nova_structures